body{
	background-image: url(series.jpg);
	background-size: cover;
}


/*#myVideo {
 position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}*/

.center{
	color: orange;
	font-size: 50px;
	font-family: 'Indie Flower', cursive;
	padding: 350px 0px;
	text-align: center;

}

.button{
	position: relative;
	font-size: 43px;
	background-color: rgba(0, 0, 0, 0.5);
}
.btn-outline-warning{
	color: orange;
}
.btn-outline-warning:hover{
	color: black;
}
